/* page colors */
.light {
}

.light h1 {
  background: linear-gradient(50deg, rgba(4, 70, 0, 1) 0%, teal 50%, rgba(4, 70, 0, 1) 100%);
  box-shadow: 0 0 100px #111;
}

.light section {
	background: rgba(255, 255, 255, 0.05)
}

.dark h1 {
	background: linear-gradient(50deg, #111 0%, rgba(4, 70, 0, 1) 100%);
	box-shadow: 0 0 10px #111;
}

.dark section {
	background: linear-gradient(115deg, rgba(0, 25, 0, 1) 35%, #111 100%)
}

/* page colors end */
